.container{
    position: absolute;
    background: #fff;
    margin-top: 23px;
    width: 1000px;
    height: 600px;
    left: 20%;
    border-radius: 10px;
    text-align: center;
    transform: translate(-70%,-15%)scale(0.1);
    visibility: hidden;
    transition: transorm 0.4s left 0.4s;
}
.container span a{
    display: inline-block;
    position: relative;
    cursor: pointer;
    left: 45%;
    top: -15%;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}
.container img{
    width: 30px;
    height: auto;
    vertical-align: middle;
    gap: 10px;
}
.user_account .container h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
}
.user_account .container table{
    text-align: center;
    margin: 40px 100px;
    width: 700px;
    
}
.user_account .container table th{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}
.user_account .container table td{
    color: rgb(16, 14, 14);
    font-size: 1.2em;
    padding: 8px;
}

.user_account .container table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    
}
.user_account .container td .btn{
    background-color: rgb(234, 78, 78);
    width: 100px;
    height: 20px;
    border-radius: 5px;
    border: 0px;
    cursor: pointer;  
    text-decoration: none;
    color: black;
    text-align: center;
}
.open-popup{
    visibility: visible;
    left: 55%;
    transform: translate(-50%,0%)scale(1);
}

/*form{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    left: 40%;
    width: 350px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
}
form .form-group{
    margin: 20px;
}*/